@import '../primitives/colors.css';

@theme {
    --background-color-primary: var(--color-white);
    --background-color-primary-alt: var(--color-white);
    --background-color-primary-hover: var(--color-gray-light-50);
    --background-color-primary-solid: var(--color-gray-light-950);
    --background-color-secondary: var(--color-gray-light-50);
    --background-color-secondary-alt: var(--color-gray-light-50);
    --background-color-secondary-hover: var(--color-gray-light-100);
    --background-color-secondary-subtle: var(--color-gray-light-25);
    --background-color-secondary-solid: var(--color-gray-light-600);
    --background-color-tertiary: var(--color-gray-light-100);
    --background-color-quaternary: var(--color-gray-light-200);
    --background-color-active: var(--color-gray-light-50);
    --background-color-disabled: var(--color-gray-light-100);
    --background-color-disabled-subtle: var(--color-gray-light-50);
    --background-color-overlay: var(--color-gray-light-950);
    --background-color-brand-primary: var(--color-brand-50);
    --background-color-brand-primary-alt: var(--color-brand-50);
    --background-color-brand-secondary: var(--color-brand-100);
    --background-color-brand-solid: var(--color-brand-600);
    --background-color-brand-solid-hover: var(--color-brand-700);
    --background-color-brand-section-subtle: var(--color-brand-700);
    --background-color-brand-section: var(--color-brand-800);
    --background-color-error-primary: var(--color-error-50);
    --background-color-error-secondary: var(--color-error-100);
    --background-color-error-solid: var(--color-error-600);
    --background-color-warning-primary: var(--color-warning-50);
    --background-color-warning-secondary: var(--color-warning-100);
    --background-color-warning-solid: var(--color-warning-600);
    --background-color-success-primary: var(--color-success-50);
    --background-color-success-secondary: var(--color-success-100);
    --background-color-success-solid: var(--color-success-600);
}

.dark {
    --background-color-primary: var(--color-gray-dark-950);
    --background-color-primary-alt: var(--color-gray-dark-900);
    --background-color-primary-hover: var(--color-gray-dark-800);
    --background-color-primary-solid: var(--color-gray-dark-900);
    --background-color-secondary: var(--color-gray-dark-900);
    --background-color-secondary-alt: var(--color-gray-dark-950);
    --background-color-secondary-hover: var(--color-gray-dark-800);
    --background-color-secondary-subtle: var(--color-gray-dark-900);
    --background-color-secondary-solid: var(--color-gray-dark-600);
    --background-color-tertiary: var(--color-gray-dark-800);
    --background-color-quaternary: var(--color-gray-dark-700);
    --background-color-active: var(--color-gray-dark-800);
    --background-color-disabled: var(--color-gray-dark-800);
    --background-color-disabled-subtle: var(--color-gray-dark-900);
    --background-color-overlay: var(--color-gray-dark-800);
    --background-color-brand-primary: var(--color-brand-500);
    --background-color-brand-primary-alt: var(--color-gray-dark-800);
    --background-color-brand-secondary: var(--color-brand-600);
    --background-color-brand-solid: var(--color-brand-600);
    --background-color-brand-solid-hover: var(--color-brand-500);
    --background-color-brand-section: var(--color-gray-dark-800);
    --background-color-brand-section-subtle: var(--color-gray-dark-950);
    --background-color-error-primary: var(--color-error-500);
    --background-color-error-secondary: var(--color-error-600);
    --background-color-error-solid: var(--color-error-600);
    --background-color-warning-primary: var(--color-warning-600);
    --background-color-warning-secondary: var(--color-warning-500);
    --background-color-warning-solid: var(--color-warning-600);
    --background-color-success-primary: var(--color-success-500);
    --background-color-success-secondary: var(--color-success-600);
    --background-color-success-solid: var(--color-success-600);
}