@import '../primitives/colors.css';

@theme {
    --color-bg-primary: var(--color-white);
    --color-bg-primary-alt: var(--color-white);
    --color-bg-primary-hover: var(--color-gray-50);
    --color-bg-primary-solid: var(--color-gray-950);
    --color-bg-secondary: var(--color-gray-50);
    --color-bg-secondary-alt: var(--color-gray-50);
    --color-bg-secondary-hover: var(--color-gray-100);
    --color-bg-secondary-subtle: var(--color-gray-25);
    --color-bg-secondary-solid: var(--color-gray-600);
    --color-bg-tertiary: var(--color-gray-100);
    --color-bg-quaternary: var(--color-gray-200);
    --color-bg-active: var(--color-gray-50);
    --color-bg-disabled: var(--color-gray-100);
    --color-bg-disabled-subtle: var(--color-gray-50);
    --color-bg-overlay: var(--color-gray-950);
    --color-bg-brand-primary: var(--color-brand-50);
    --color-bg-brand-primary-alt: var(--color-brand-50);
    --color-bg-brand-secondary: var(--color-brand-100);
    --color-bg-brand-solid: var(--color-brand-600);
    --color-bg-brand-solid-hover: var(--color-brand-700);
    --color-bg-brand-section: var(--color-brand-800);
    --color-bg-brand-section_subtle: var(--color-brand-700);
    --color-bg-error-primary: var(--color-error-50);
    --color-bg-error-secondary: var(--color-error-100);
    --color-bg-error-solid: var(--color-error-600);
    --color-bg-warning-primary: var(--color-warning-50);
    --color-bg-warning-secondary: var(--color-warning-100);
    --color-bg-warning-solid: var(--color-warning-600);
    --color-bg-success-primary: var(--color-success-50);
    --color-bg-success-secondary: var(--color-success-100);
    --color-bg-success-solid: var(--color-success-600);
}

.dark {
    --color-bg-primary: var(--color-gray-950);
    --color-bg-primary-alt: var(--color-gray-900);
    --color-bg-primary-hover: var(--color-gray-800);
    --color-bg-primary-solid: var(--color-gray-900);
    --color-bg-secondary: var(--color-gray-950);
    --color-bg-secondary-alt: var(--color-gray-950);
    --color-bg-secondary-hover: var(--color-gray-900);
    --color-bg-secondary-subtle: var(--color-gray-900);
    --color-bg-secondary-solid: var(--color-gray-600);
    --color-bg-tertiary: var(--color-gray-800);
    --color-bg-quaternary: var(--color-gray-700);
    --color-bg-active: var(--color-gray-800);
    --color-bg-disabled: var(--color-gray-800);
    --color-bg-disabled-subtle: var(--color-gray-900);
    --color-bg-overlay: var(--color-gray-600);
    --color-bg-brand-primary: var(--color-brand-600);
    --color-bg-brand-primary-alt: var(--color-brand-600);
    --color-bg-brand-secondary: var(--color-brand-600);
    --color-bg-brand-solid: var(--color-brand-600);
    --color-bg-brand-solid-hover: var(--color-brand-500);
    --color-bg-brand-section: var(--color-brand-500);
    --color-bg-brand-section_subtle: var(--color-brand-700);
    --color-bg-error-primary: var(--color-error-500);
    --color-bg-error-secondary: var(--color-error-400);
    --color-bg-error-solid: var(--color-error-600);
    --color-bg-warning-primary: var(--color-warning-600);
    --color-bg-warning-secondary: var(--color-warning-500);
    --color-bg-warning-solid: var(--color-warning-600);
    --color-bg-success-primary: var(--color-success-600);
    --color-bg-success-secondary: var(--color-success-600);
    --color-bg-success-solid: var(--color-success-600);
}