@import '../primitives/colors.css';

@theme {
    --border-color-primary: var(--color-gray-light-300);
    --outline-color-primary: var(--color-gray-light-300);
    --border-color-secondary: var(--color-gray-light-200);
    --outline-color-secondary: var(--color-gray-light-200);
    --border-color-tertiary: var(--color-gray-light-100);
    --outline-color-tertiary: var(--color-gray-light-100);
    --border-color-disabled: var(--color-gray-light-300);
    --outline-color-disabled: var(--color-gray-light-300);
    --border-color-disabled-subtle: var(--color-gray-light-200);
    --outline-color-disabled-subtle: var(--color-gray-light-200);
    --border-color-brand: var(--color-brand-500);
    --outline-color-brand: var(--color-brand-500);
    --border-color-brand-alt: var(--color-brand-600);
    --outline-color-brand-alt: var(--color-brand-600);
    --border-color-error: var(--color-error-500);
    --outline-color-error: var(--color-error-500);
    --border-color-error-subtle: var(--color-error-300);
    --outline-color-error-subtle: var(--color-error-300);
}

.dark {
    --border-color-primary: var(--color-gray-dark-700);
    --outline-color-primary: var(--color-gray-dark-700);
    --border-color-secondary: var(--color-gray-dark-800);
    --outline-color-secondary: var(--color-gray-dark-800);
    --border-color-tertiary: var(--color-gray-dark-800);
    --outline-color-tertiary: var(--color-gray-dark-800);
    --border-color-disabled: var(--color-gray-dark-700);
    --outline-color-disabled: var(--color-gray-dark-700);
    --border-color-disabled-subtle: var(--color-gray-dark-800);
    --outline-color-disabled-subtle: var(--color-gray-dark-800);
    --border-color-brand: var(--color-brand-400);
    --outline-color-brand: var(--color-brand-400);
    --border-color-brand-alt: var(--color-gray-dark-700);
    --outline-color-brand-alt: var(--color-gray-dark-700);
    --border-color-error: var(--color-error-400);
    --outline-color-error: var(--color-error-400);
    --border-color-error-subtle: var(--color-error-400);
    --outline-color-error-subtle: var(--color-error-400);
}