@theme {
    --color-fg-primary: var(--color-gray-900);
    --color-fg-secondary: var(--color-gray-700);
    --color-fg-secondary-hover: var(--color-gray-800);
    --color-fg-tertiary: var(--color-gray-600);
    --color-fg-tertiary-hover: var(--color-gray-700);
    --color-fg-quaternary: var(--color-gray-500);
    --color-fg-quaternary-hover: var(--color-gray-600);
    --color-fg-quinary: var(--color-gray-400);
    --color-fg-senary: var(--color-gray-300);
    --color-fg-white: var(--color-white);
    --color-fg-disabled: var(--color-gray-400);
    --color-fg-disabled-subtle: var(--color-gray-300);
    --color-fg-brand-primary: var(--color-brand-600);
    --color-fg-brand-primary-alt: var(--color-brand-600);
    --color-fg-brand-secondary: var(--color-brand-500);
    --color-fg-error-primary: var(--color-error-600);
    --color-fg-error-secondary: var(--color-error-500);
    --color-fg-warning-primary: var(--color-warning-600);
    --color-fg-warning-secondary: var(--color-warning-500);
    --color-fg-success-primary: var(--color-success-600);
    --color-fg-success-secondary: var(--color-success-500);
}

.dark {
    --color-fg-primary: var(--color-gray-50);
    --color-fg-secondary: var(--color-gray-300);
    --color-fg-secondary-hover: var(--color-gray-200);
    --color-fg-tertiary: var(--color-gray-400);
    --color-fg-tertiary-hover: var(--color-gray-300);
    --color-fg-quaternary: var(--color-gray-500);
    --color-fg-quaternary-hover: var(--color-gray-400);
    --color-fg-quinary: var(--color-gray-500);
    --color-fg-quinary-hover: var(--color-gray-400);
    --color-fg-senary: var(--color-gray-600);
    --color-fg-disabled: var(--color-gray-500);
    --color-fg-disabled-subtle: var(--color-gray-600);
    --color-fg-brand-primary: var(--color-brand-500);
    --color-fg-brand-primary-alt: var(--color-brand-600);
    --color-fg-brand-secondary: var(--color-brand-500);
    --color-fg-error-primary: var(--color-error-600);
    --color-fg-error-secondary: var(--color-error-500);
    --color-fg-warning-primary: var(--color-warning-600);
    --color-fg-warning-secondary: var(--color-warning-500);
    --color-fg-success-primary: var(--color-success-600);
    --color-fg-success-secondary: var(--color-success-500);
}