@theme {
    --text-display-2xl: 4.5rem;
    --text-display-2xl--line-height: 5.625rem;
    --text-display-2xl--letter-spacing: -2%;

    --text-display-xl: 3.75rem;
    --text-display-xl--line-height: 4.5rem;
    --text-display-xl--letter-spacing: -2%;

    --text-display-lg: 3rem;
    --text-display-lg--line-height: 3.75rem;
    --text-display-lg--letter-spacing: -2%;

    --text-display-md: 2.25rem;
    --text-display-md--line-height: 2.75rem;
    --text-display-md--letter-spacing: -2%;

    --text-display-sm: 1.875rem;
    --text-display-sm--line-height: 2.375rem;

    --text-display-xs: 1.5rem;
    --text-display-xs--line-height: 2rem;

    --text-xl: 1.25rem;
    --text-xl--line-height: 1.875rem;

    --text-lg: 1.125rem;
    --text-lg--line-height: 1.75rem;

    --text-md: 1rem;
    --text-md--line-height: 1.5rem;

    --text-sm: 0.875rem;
    --text-sm--line-height: 1.25rem;

    --text-xs: 0.75rem;
    --text-xs--line-height: 1.125rem;
}