@theme {
    --color-white: #fff;
    --color-black: #000;
    --color-transparent: transparent;
    --color-gray-light-25: #fdfdfd;
    --color-gray-light-50: #fafafa;
    --color-gray-light-100: #f5f5f5;
    --color-gray-light-200: #e9eaeb;
    --color-gray-light-300: #d5d7da;
    --color-gray-light-400: #a4a7ae;
    --color-gray-light-500: #717680;
    --color-gray-light-600: #535862;
    --color-gray-light-700: #414651;
    --color-gray-light-800: #252b37;
    --color-gray-light-900: #181d27;
    --color-gray-light-950: #0a0d12;
    --color-gray-dark-25: #FAFAFA;
    --color-gray-dark-50: #F7F7F7;
    --color-gray-dark-100: #F0F0F1;
    --color-gray-dark-200: #ECECED;
    --color-gray-dark-300: #CECFD2;
    --color-gray-dark-400: #94979C;
    --color-gray-dark-500: #85888E;
    --color-gray-dark-600: #61656C;
    --color-gray-dark-700: #373A41;
    --color-gray-dark-800: #22262F;
    --color-gray-dark-900: #13161B;
    --color-gray-dark-950: #0C0E12;
    --color-brand-25: #F5F8FF;
    --color-brand-50: #EEF4FF;
    --color-brand-100: #E0EAFF;
    --color-brand-200: #C7D7FE;
    --color-brand-300: #A4BCFD;
    --color-brand-400: #8098F9;
    --color-brand-500: #6172F3;
    --color-brand-600: #444CE7;
    --color-brand-700: #3538CD;
    --color-brand-800: #2D31A6;
    --color-brand-900: #2D3282;
    --color-brand-950: #1F235B;
    --color-error-25: #FFFBFA;
    --color-error-50: #FEF3F2;
    --color-error-100: #FEE4E2;
    --color-error-200: #FECDCA;
    --color-error-300: #FDA29B;
    --color-error-400: #F97066;
    --color-error-500: #F04438;
    --color-error-600: #D92D20;
    --color-error-700: #B42318;
    --color-error-800: #912018;
    --color-error-900: #7A271A;
    --color-error-950: #55160C;
    --color-warning-25: #FFFCF5;
    --color-warning-50: #FFFAEB;
    --color-warning-100: #FEF0C7;
    --color-warning-200: #FEDF89;
    --color-warning-300: #FEC84B;
    --color-warning-400: #FDB022;
    --color-warning-500: #F79009;
    --color-warning-600: #DC6803;
    --color-warning-700: #B54708;
    --color-warning-800: #93370D;
    --color-warning-900: #7A2E0E;
    --color-warning-950: #4E1D09;
    --color-success-25: #F6FEF9;
    --color-success-50: #ECFDF3;
    --color-success-100: #CDFAE6;
    --color-success-200: #ABEFBC;
    --color-success-300: #75E0A7;
    --color-success-400: #47CD89;
    --color-success-500: #17B26A;
    --color-success-600: #079455;
    --color-success-700: #067647;
    --color-success-800: #085D3A;
    --color-success-900: #074D31;
    --color-success-950: #053321;
}