@theme {
    --text-display-2xl: 4.5rem;
    --text-display-xl: 3.75rem;
    --text-display-lg: 3rem;
    --text-display-md: 2.25rem;
    --text-display-sm: 1.875rem;
    --text-display-xs: 1.5rem;
    --text-xl: 1.25rem;
    --text-lg: 1.125rem;
    --text-md: 1rem;
    --text-sm: 0.875rem;
    --text-xs: 0.75rem;
}