@theme {
    --leading-display-2xl: 5.625rem;
    --leading-display-xl: 4.5rem;
    --leading-display-lg: 3.75rem;
    --leading-display-md: 2.75rem;
    --leading-display-sm: 2.375rem;
    --leading-display-xs: 2rem;
    --leading-xl: 1.875rem;
    --leading-lg: 1.75rem;
    --leading-md: 1.5rem;
    --leading-sm: 1.25rem;
    --leading-xs: 1.125rem;
}